src/main/mule/world-demo-api-cd-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cbe23f74-8126-4876-a68d-796c6a6cce97" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c8397749-f300-4be1-a30d-3842dfef98db" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-api-cd-cdFlow" doc:id="fd9d56e6-9640-4d24-b6b3-c0e74e90eba9" >
		<http:listener doc:name="Listener" doc:id="cc64c5d6-6e25-4d91-a655-c3b07b32b4a7" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="31e40b14-a085-4e0b-a118-a4c83ffae6bf" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city"	: attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="bcac379b-fb27-4946-9d39-41cfc0214ea9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++
{
	"message": "Success Message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
